body {
    margin: 0;
    font-size: 18px;
    font-family: Inter;
    position: relative;
}

header {
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    border-bottom-radius: 5px;
}

header>div {
    margin-inline: 16px;
}

header img {
    height: 25px;
}

@media (max-width: 600px) {
    .nav-pc {
        display: none;
    }
    .nav-mobile {
        display: block !important;
    }
}

.nav-mobile {
    display: none;
}

header a {
    text-decoration: none;
    color: black;
    margin-inline: 12px;
    font-weight: 500;
}

h3 {
    margin-block: 6px;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

/*custom classes*/
.details {
    opacity: 70%;
    font-size: 14px;
}

.hidden {
    display: none !important;
}

/*media queries*/
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }
}