.tinder--card {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #0000009e 0px 0px 4px;
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 5%;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
}

.tinder--card:hover {
  scale: 1.1;
  transition: all 0.5s ease-in-out;
}

.tinder--card img {
  height: 400px;
  pointer-events: none;
}

.rating {
  position: relative;
  top: -16px;
  font-size: 16px;
  color: gold;
  pointer-events: none;
  background: rgba(176, 176, 176, 0.36);
  backdrop-filter: blur(8px);
  width: fit-content;
  padding: 4px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.tinder--card h3 {
  margin-top: -8px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 8px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.title-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container img {
  width: 90vw;
  max-width: 600px;
  height: auto;
}

@media (max-width: 600px) {
  .tinder--card img {
    width: -webkit-fill-available;
    padding: 0 10px;
    height: auto;
  }

  .tinder--card {
    width: 80%;
  }
}