body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.last-meme-container {
  display: flex;  
  justify-content: space-around;
  padding: 20px;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-bottom: 20px;
  margin-inline: 10px;
}

.last-meme-container div {
  text-align: start;
}

.last-meme-container h3 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.last-meme-container img {
  width: 90vw;
  max-width: 400px;
  height: auto;
}

.last-meme-container>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  margin-left: auto;
}

.rating {
  font-size: 16px;
  color: gold;
  pointer-events: none;
  background: rgba(176, 176, 176, 0.36);
  backdrop-filter: blur(8px);
  width: fit-content;
  padding: 4px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 20px;
}

.title-container img {
  margin-top: 20px;
  width: 90vw;
  max-width: 600px;
  height: auto;
}



@media (max-width: 700px) {
  .last-meme-container img {
    width: -webkit-fill-available;
    padding: 0 10px;
    height: auto;
  }

  .last-meme-container {
    width: 80%;
    flex-direction: column;
  }
}