.card-container {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tinder--card img {
  height: 400px;
  pointer-events: none;
}

.rating {
  position: relative;
  top: -16px;
  font-size: 16px;
  color: gold;
  pointer-events: none;
  background: rgba(176, 176, 176, 0.36);
  backdrop-filter: blur(8px);
  width: fit-content;
  padding: 4px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.tinder--card h3 {
  margin-top: -8px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 8px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}